{% load django_browser_reload %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
  <title>Home - PowerMarket</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="{% static 'img/favicon (2).ico' %}">

  <!-- ACÁ VAN LOS ESTILOS PERSONALIZADOS-->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <!-- AQUI INCLUIMOS EL CSS DE FLOWBITE -->
  <link rel="stylesheet" href="{% static 'css/flowbite.min.css' %}">

  <script src="{% static 'scripts/tailwindCDN.js' %}"></script>
  </head>

  <!-- AQUI INCLUIMOS LA BARRA DE NAVEGACION -->
  {% include 'home/navbar.html' %}
  
  <body class="mx-auto">

    <!-- AQUI INCLUIMOS EL CONTENIDO GENERICO -->
    {% block page_content %}
    
    {% endblock %}
    

    {% django_browser_reload_script %}
  </body>

  {% include 'home/footer.html' %}
  <!-- AQUI INCLUIMOS EL JS DE FLOWBITE -->
  <script src="{% static 'scripts/flowbite.js' %}"></script>


</html>
