
<footer class="z-0 bottom-0 mt-3 left-0 z-20 p-4 w-full bg-white border-t-2 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="http://127.0.0.1:8000/" class="hover:underline">Powermarket™</a>. Todos los derechos reservados.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6 ">Quienes Somos</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Ayuda</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Terminos y Condiciones</a>
        </li>
        <li>
            <a href="#" class="hover:underline">Contacto</a>
        </li>
    </ul>
</footer>

