{% load django_browser_reload %}
{% load static %}
<!DOCTYPE html>
<html lang="es">  
  <head>
  <title>Home - PowerMarket</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="{% static 'img/iconoPagina.png' %}">

  <!-- ACÁ VAN LOS ESTILOS PERSONALIZADOS-->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <!-- AQUI INCLUIMOS EL CSS DE FLOWBITE -->
  <link rel="stylesheet" href="{% static 'css/flowbite.min.css' %}">

  <script src="{% static 'scripts/tailwindCDN.js' %}"></script>
  
  <!-- JQUERY PARA LAS ALERTAS -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  
  <!-- AQUI INCLUIMOS LA BARRA DE NAVEGACION -->
  <div class="bg-white dark:bg-gray-800 dark:border-gray-600 shadow-lg mb-6">
    <!-- ESTE DIV ES EL LOGO -->
      <div class="mx-auto max-w-7xl px-3 sm:px-6 py-2 grid grid-cols-3">        
          <a href="http://127.0.0.1:8000/">
            <div class="ml-3 mt-2 inline-flex">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="stroke-blue-700 w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
              </svg>
              <div class="text-xl font-semibold whitespace-nowrap text-slate-600 dark:text-gray-300  pl-3">
                PowerMarket
              </div>
            </div>
          </a>
      </div>
  </div>
  
  <body class="mx-auto bg-gray-200 dark:bg-gradient-to-r dark:from-gray-700 dark:via-teal-900 dark:to-emerald-900">

    <!-- AQUI INCLUIMOS EL CONTENIDO GENERICO -->
    {% block page_content %}
    
    {% endblock %}
    

    {% django_browser_reload_script %}
  </body>
  <!-- AQUI INCLUIMOS EL JS DE FLOWBITE -->
  <script src="{% static 'scripts/flowbite.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      setTimeout(function(){
        $('#message').fadeOut('slow')
      }, 700)
    });
  </script>


</html>
