.module {
    width: 100%;
    margin: 0 0 1em 0;
    overflow: hidden;
  }
  
  .module p {
    margin: 0;
  }
  
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

 

  