{% extends 'home/onlyBarMarket.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_content %}

<div class="max-w-7xl px-3 sm:px-6 py-2 grid grid-cols-12">
    <div class="my-auto col-span-12 sm:col-span-8 sm:col-start-3 md:col-span-6 md:col-start-4 lg:col-span-4 lg:col-start-5 bg-white dark:bg-gray-800 p-4 rounded-lg border-t-4 border-blue-700 shadow-2xl">
        <form method="post"> {% csrf_token %}
            <img class="mx-auto rounded-full h-20 w-20" src="{% static 'img/iconoLogin.png' %}" alt="">
            <p class="text-xl text-center text-gray-500 font-sm my-4 dark:text-white mb-4">
                Bienvenido a PowerMarket!
            </p>

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %} 
                        <strong>{{ error }}</strong>
                            
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% if form.non_field_errors %}
                <div id="message" class="flex p-2 mb-4 bg-red-100 border-t-4 border-red-500 dark:bg-red-200" role="alert">
                    <svg class="flex-shrink-0 w-5 h-5 text-red-700" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                    <div class="inline-flex gap-1 w-full ml-3 text-sm font-medium text-red-700">
                       <span class="font-bold">Error!</span>{{ form.non_field_errors }}
                    </div>
                    <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-red-100 dark:bg-red-200 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 dark:hover:bg-red-300 inline-flex h-8 w-8"  data-dismiss-target="#alert-border-2" aria-label="Close">
                    <span class="sr-only">Dismiss</span>
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>
            {% endif %}
            
            <p class="text-lg text-gray-500 font-light mb-4 dark:text-white mb-4">Inicio de sesión</p>
            <div class="relative z-0 mb-6 w-full group">
                {% render_field form.username placeholder=" " autocomplete="off" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" %}
                <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Usuario</label>
            </div>
            <div class="relative z-0 mb-6 w-full group">
                {% render_field form.password placeholder=" " autocomplete="off" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" %}
                <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Contraseña</label>
            </div>
            <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Ingresar</button>
            <a href="{% url 'registerUser' %}"><p class="my-4 hover:underline text-sm text-center text-gray-500">¿Aún no estás registrado? Registrate aquí!</p> </a>
        </form>
    </div>
</div>

<script>

</script>

{% endblock %}